<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wlf.home.dao.AddressDao">
  <resultMap id="BaseResultMap" type="com.wlf.home.domain.Address">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="cityname" jdbcType="VARCHAR" property="cityname" />
  </resultMap>
  <sql id="Base_Column_List">
    id, cityname
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from address
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
  	select
  	<include refid="Base_Column_List" />
    from address
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from address
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.wlf.home.domain.Address">
    insert into address (id, cityname)
    values (#{id,jdbcType=BIGINT}, #{cityname,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wlf.home.domain.Address">
    insert into address
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="cityname != null">
        cityname,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="cityname != null">
        #{cityname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wlf.home.domain.Address">
    update address
    <set>
      <if test="cityname != null">
        cityname = #{cityname,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wlf.home.domain.Address">
    update address
    set cityname = #{cityname,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>