<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wlf.home.dao.HouseTypeDao">
  <resultMap id="BaseResultMap" type="com.wlf.home.domain.HouseType">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="typename" jdbcType="VARCHAR" property="typename" />
  </resultMap>
  <sql id="Base_Column_List">
    id, typename
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from housetype
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
  	select 
    <include refid="Base_Column_List" />
    from housetype
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from housetype
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.wlf.home.domain.HouseType">
    insert into housetype (id, typename)
    values (#{id,jdbcType=BIGINT}, #{typename,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wlf.home.domain.HouseType">
    insert into housetype
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="typename != null">
        typename,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="typename != null">
        #{typename,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wlf.home.domain.HouseType">
    update housetype
    <set>
      <if test="typename != null">
        typename = #{typename,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wlf.home.domain.HouseType">
    update housetype
    set typename = #{typename,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>